$theme-nav-text-color: #ffffff;
//$theme-nav-text-color: #3e3e40;
//$theme-nav-text-color-hover: #ffffff;
//$theme-nav-text-color-hover: #a48141;
$theme-nav-text-color-hover: #ffffff;
//$theme-nav-text-color-hover: #3e3e40;
//$theme-nav-text-color: #3e3e40;
//$theme-nav-text-color-active: #a48141;
$theme-nav-text-color-active: #535456;
//$theme-nav-bg: #535456;
//$theme-nav-bg: rgba(82, 82, 84, 0.6);
$theme-nav-bg: rgba(82, 82, 84, 1.0);
//$theme-nav-bg: #ffffff;
//$theme-nav-bg-active: transparent;
$theme-nav-border-radius-active: 4px 4px 4px 4px;
$theme-nav-bg-active: #ffffff;
//$theme-nav-border-bottom-color: transparent;
$theme-nav-border-bottom-width: 3px;
$theme-nav-border-bottom-color: #a48141;
//$theme-nav-border-bottom-style: double;
$theme-nav-border-bottom-style: none;
//$theme-nav-first-letter-color: #ffffff;
//$theme-nav-first-letter-color: #3e3e4log0;
//$theme-nav-first-letter-color: #a48141;
$theme-nav-first-letter-color: #3e3e40;
$theme-nav-first-letter-color-hover: #a48141;
$theme-nav-first-letter-size: 100%;
//$theme-body-color: #ffffff;
//$theme-body-color-dark: #ffffff;
//$theme-body-color: #3e3e40;
//$theme-body-color: #ffffff;
$theme-body-color: #3e3e40;
$theme-body-color-hover: #a48141;
//$theme-body-color-dark: #3e3e40;
//$theme-body-color-dark: #ffffff;
$theme-body-color-dark: #3e3e40;
$theme-body-bg: #ffffff;
//$theme-bg-color: rgba(17, 0, 86, 1);
//$theme-bg-color: rgb(45, 15, 67);
$theme-bg-color: #ffffff;
//$theme-bg-color-09: rgba(45, 15, 67, 0.95);
//$theme-bg-color-09: #535456;
$theme-bg-color-09: #ffffff;
//$theme-bg-color-05: rgba(45, 15, 67, 0.5);
//$theme-bg-color-05: #535456;
$theme-bg-color-05: #ffffff;
//$theme-bg-color2: rgba(31, 2, 147, 1);
//$theme-bg-color2: rgb(70, 39, 99);
$theme-bg-color2: #ffffff;
$theme-bg-color2-02: #ffffff;
//$theme-bg-color2-02: rgba(70, 39, 99, 0.2);
//$theme-text-color: $theme-body-color;
//$theme-text-color: #ffffff;
$theme-text-color: #3e3e40;
//$theme-line-color: $theme-bg-color;
$theme-line-color: #535456;